* {
    box-sizing: border-box;
    
}

html,body{
    margin: 2%;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

/* nav bar */

nav{
    width: 100%;
    height: 100%;
    /* margin: 0 0 15% 15%; */
    background-color: aqua;
    clear: both; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

nav .main_menu{
    width: 100%;
    height: 100%;
    /* float: left; */
}

nav .main_menu ul li{
    display: inline;
    margin: 0% 4%;
    padding: 2%;
    font-size: 125%;
}

nav .main_menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

nav .main_menu ul li a:hover{
    background-color: #ddd;
    color: #333;
}